In [1]:
import nltk
nltk.download('punkt')
nltk.download('stopwords')
nltk.download('averaged_perceptron_tagger')
nltk.download('maxent_treebank_pos_tagger')

import pandas as pd

[nltk_data] Downloading package punkt to /Users/saehuh/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/saehuh/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /Users/saehuh/nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!
[nltk_data] Downloading package maxent_treebank_pos_tagger to
[nltk_data]     /Users/saehuh/nltk_data...
[nltk_data]   Package maxent_treebank_pos_tagger is already up-to-
[nltk_data]       date!

In [36]:
import numpy as np

In [50]:
import os
import json

reviews=[]
with open('data/yelp_dataset/yelp_academic_dataset_review.json') as f:
    for line in f:
        reviews.append(json.loads(line))
reviews_df=pd.DataFrame.from_dict(reviews)

In [53]:
reviews_df.head()

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
0,xQY8N_XvtGbearJ5X4QryQ,OwjRMXRC0KyPrIlcjaXeFQ,-MhfebM0QIsKt87iDN-FNw,2.0,5,0,0,"As someone who has worked with many museums, I...",2015-04-15 05:21:16
1,UmFMZ8PyXZTY2QcwzsfQYA,nIJD_7ZXHq-FX8byPMOkMQ,lbrU8StCq3yDfr-QMnGrmQ,1.0,1,1,0,I am actually horrified this place is still in...,2013-12-07 03:16:52
2,LG2ZaYiOgpr2DK_90pYjNw,V34qejxNsCbcgD8C0HVk-Q,HQl28KMwrEKHqhFrrDqVNQ,5.0,1,0,0,I love Deagan's. I do. I really do. The atmosp...,2015-12-05 03:18:11
3,i6g_oA9Yf9Y31qt0wibXpw,ofKDkJKXSKZXu5xJNGiiBQ,5JxlZaqCnk1MnbgRirs40Q,1.0,0,0,0,"Dismal, lukewarm, defrosted-tasting ""TexMex"" g...",2011-05-27 05:30:52
4,6TdNDKywdbjoTkizeMce8A,UgMW8bLE0QMJDCkQ1Ax5Mg,IS4cv902ykd8wj1TR0N3-A,4.0,0,0,0,"Oh happy day, finally have a Canes near my cas...",2017-01-14 21:56:57

In [52]:
reviews_df.shape

(8021122, 9)

In [54]:
business_df = pd.read_csv("data/yelp_business.csv")

In [55]:
business_df.shape

(209393, 16)

In [56]:
business_df.head()

,Unnamed: 0,_id,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,0,5fb9532f5884f05b67a0dca5,f9NumwFMBDn751xgFiRbNA,The Range At Lake Norman,10913 Bailey Rd,Cornelius,NC,28031,35.462724,-80.852612,3.5,36,1,"{'BusinessAcceptsCreditCards': 'True', 'BikePa...","Active Life, Gun/Rifle Ranges, Guns & Ammo, Sh...","{'Monday': '10:0-18:0', 'Tuesday': '11:0-20:0'..."
1,1,5fb9532f5884f05b67a0dca6,51M2Kk903DFYI6gnB5I6SQ,USE MY GUY SERVICES LLC,4827 E Downing Cir,Mesa,AZ,85205,33.428065,-111.726649,4.5,26,1,"{'BusinessAcceptsCreditCards': 'True', 'ByAppo...","Home Services, Plumbing, Electricians, Handyma...","{'Monday': '0:0-0:0', 'Tuesday': '9:0-16:0', '..."
2,2,5fb9532f5884f05b67a0dca7,cKyLV5oWZJ2NudWgqs8VZw,Oasis Auto Center - Gilbert,"1720 W Elliot Rd, Ste 105",Gilbert,AZ,85233,33.350399,-111.827142,4.5,38,1,{'BusinessAcceptsCreditCards': 'True'},"Auto Repair, Automotive, Oil Change Stations, ...","{'Monday': '7:0-18:0', 'Tuesday': '7:0-18:0', ..."
3,3,5fb9532f5884f05b67a0dca8,oiAlXZPIFm2nBCt0DHLu_Q,Green World Cleaners,"6870 S Rainbow Blvd, Ste 117",Las Vegas,NV,89118,36.063977,-115.241463,3.5,81,1,"{'BusinessParking': ""{'garage': False, 'street...","Dry Cleaning & Laundry, Local Services, Laundr...","{'Monday': '7:0-19:0', 'Tuesday': '7:0-19:0', ..."
4,4,5fb9532f5884f05b67a0dca9,XNoUzKckATkOD1hP6vghZg,Felinus,3554 Rue Notre-Dame O,Montreal,QC,H4C 1P4,45.479984,-73.580070,5.0,5,1,NaN,"Pets, Pet Services, Pet Groomers",NaN

In [57]:
#dataframe columns
print(business_df.columns)
print(reviews_df.columns)

Index(['Unnamed: 0', '_id', 'business_id', 'name', 'address', 'city', 'state',
       'postal_code', 'latitude', 'longitude', 'stars', 'review_count',
       'is_open', 'attributes', 'categories', 'hours'],
      dtype='object')
Index(['review_id', 'user_id', 'business_id', 'stars', 'useful', 'funny',
       'cool', 'text', 'date'],
      dtype='object')

In [58]:
#to know datatypes of each column in reviews
reviews_df.dtypes

review_id       object
user_id         object
business_id     object
stars          float64
useful           int64
funny            int64
cool             int64
text            object
date            object
dtype: object

In [59]:
#checking each column to know how many null values business dataframe has
business_df.isnull().sum()

Unnamed: 0          0
_id                 0
business_id         0
name                1
address          8679
city                2
state               0
postal_code       509
latitude            0
longitude           0
stars               0
review_count        0
is_open             0
attributes      29045
categories        524
hours           44843
dtype: int64

In [60]:
#checking each column to know how many null values reviews dataframe has
reviews_df.isnull().sum()

review_id      0
user_id        0
business_id    0
stars          0
useful         0
funny          0
cool           0
text           0
date           0
dtype: int64

In [61]:
#code to group all the reviews by each business
review_df_agg=reviews_df.groupby('business_id')['text'].sum()

In [62]:
#renaming the columns business_id for index and all_reviews for all aggregated reviews
review_df_for_sklearn=pd.DataFrame({'business_id':review_df_agg.index,'all_reviews':review_df_agg.values})

In [63]:
#Merging both reviews and business dataframes on column business_id as it the unique and common column for both dataframes
review_business=pd.merge(review_df_for_sklearn,business_df,on='business_id',how='left')

In [64]:
#checking the shape of merged dataframe
review_business.shape

(209393, 17)

In [65]:
#taking the sample of  10% from the whole dataframe 
review_business_sample=review_business.sample(frac=.10)
print(review_business_sample.shape)

(20939, 17)

In [66]:
#overview of merged dataframe
review_business_sample.head()

,business_id,all_reviews,Unnamed: 0,_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
191028,uP7ojXytz8q7YZbQLNibow,"J'ai été un jeudi 5à7. De plus, soir de match....",194625,5fb9533c5884f05b67a3d4e6,Lobby Bar,4538 Avenue Papineau,Montréal,QC,H2H 1V3,45.533121,-73.575493,2.5,8,1,"{'HasTV': 'True', 'RestaurantsPriceRange2': '2...","Canadian (New), Nightlife, Indian, Restaurants...","{'Tuesday': '17:0-3:0', 'Wednesday': '17:0-3:0..."
79538,NJdJ5F1SAHBtQg9QvOsQ8g,Shane at We Do It Pools in Tempe has been my p...,52789,5fb953335884f05b67a1aada,We Do It Pools,NaN,Tempe,AZ,85280,33.430000,-111.930000,4.0,3,1,"{'BusinessAcceptsCreditCards': 'True', 'Busine...","Pool Cleaners, Home Services, Pool & Hot Tub S...","{'Monday': '8:0-17:0', 'Tuesday': '8:0-17:0', ..."
170022,nvhKzcD6DKssgMuadrSFoA,"Sunday 12/17/2017 6pm\n\nFirst and foremost, t...",66802,5fb953345884f05b67a1e197,Harris Teeter,9925 Rose Commons Dr,Huntersville,NC,28078,35.409242,-80.862122,3.5,33,1,"{'RestaurantsPriceRange2': '2', 'BusinessParki...","Shopping, Food, Drugstores, Grocery","{'Monday': '6:0-0:0', 'Tuesday': '6:0-0:0', 'W..."
164805,mLjDh0vQYBCY6g9T1HczVw,Bar staff did not know pricing on the draft be...,144300,5fb953395884f05b67a31051,Great Lakes Brewing,5300 Riverside Dr,Cleveland,OH,44135,41.408042,-81.841198,3.5,173,1,"{'GoodForKids': 'False', 'BikeParking': 'False...","Brewpubs, Nightlife, Pubs, Breweries, Food, Ba...",NaN
199048,wq2_ZM7KU_Wc93tonTTsdQ,My boyfriend and I found Rockne's actually whi...,48607,5fb953325884f05b67a19a84,Rockne's,4240 Hudson Dr,Stow,OH,44224,41.182742,-81.472614,3.5,43,1,"{'GoodForKids': 'True', 'BusinessParking': ""{'...","Restaurants, American (Traditional)","{'Monday': '11:0-21:0', 'Tuesday': '11:0-21:0'..."

In [67]:
#as the review_count has different values it needs to be normalized
from scipy.stats import zscore

review_count_normalized=zscore(review_business_sample['review_count'])
review_count_normalized.shape #normalized review_count

(20939,)

## TF-IDF(Term Frequency- Inverse Document Frequency): It is a numerical statistic that is intended to reflect how important a word is in document in a collection. The tf-idf value increases proportionality to the number of times a word appears in the document and is offset by the number of documnets in the corpus that contain the word.

In [68]:
#using tf-idf to do feature extraction from review contents for models
import sklearn.feature_extraction.text as sk_text
vectorizer=sk_text.TfidfVectorizer(stop_words='english',max_features=1000,min_df=2)
matrix=vectorizer.fit_transform(review_business_sample['all_reviews'])

print(type(matrix))
print(matrix.toarray())

#print(vectorizer.get_feature_names())

<class 'scipy.sparse.csr.csr_matrix'>
[[0.         0.         0.         ... 0.         0.         0.        ]
 [0.         0.         0.         ... 0.         0.         0.        ]
 [0.         0.03040371 0.         ... 0.         0.         0.        ]
 ...
 [0.         0.05623942 0.         ... 0.         0.         0.        ]
 [0.         0.01301894 0.         ... 0.         0.         0.        ]
 [0.         0.         0.         ... 0.02281133 0.         0.        ]]

In [69]:
#converting the matrix to array format
tfif_data=matrix.toarray()

In [70]:
#know the shape of the previous array
tfif_data.shape

(20939, 1000)

In [71]:
#merging review_count and tfid_data arrays
import numpy as np
concat_matrix=np.column_stack((tfif_data,review_count_normalized))
concat_matrix

array([[ 0.        ,  0.        ,  0.        , ...,  0.        ,
         0.        , -0.20191498],
       [ 0.        ,  0.        ,  0.        , ...,  0.        ,
         0.        , -0.23575344],
       [ 0.        ,  0.03040371,  0.        , ...,  0.        ,
         0.        , -0.03272273],
       ...,
       [ 0.        ,  0.05623942,  0.        , ...,  0.        ,
         0.        , -0.22898575],
       [ 0.        ,  0.01301894,  0.        , ...,  0.        ,
         0.        , -0.16130884],
       [ 0.        ,  0.        ,  0.        , ...,  0.        ,
         0.        , -0.0530258 ]])

# Models

## Linear Regression - Regression Model

In [72]:
#applying linear regression model by giving X as concat matrix and y as stars column

# import the class
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn import metrics

X=concat_matrix
y=review_business_sample['stars']

#dividing the data in to training and test dataset
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=.2,random_state =1)
print(X_train.shape)
print(X_test.shape)

(16751, 1001)
(4188, 1001)

In [73]:
# instantiate the model (using the default parameters)
lr=LinearRegression()

# fit the model with data
lr.fit(X_train,y_train)

pred = lr.predict(X_test)

score = metrics.mean_squared_error(pred,y_test)
print("Final score (MSE): {}".format(score))

# Measure RMSE error.  RMSE is common for regression.
score = np.sqrt(metrics.mean_squared_error(pred,y_test))
print("Final score (RMSE): {}".format(score))

Final score (MSE): 0.2851802759613898
Final score (RMSE): 0.5340227298171771

## Classifcation Models

In [74]:
import pandas as pd
import numpy as np
import os , io
from sklearn.model_selection import train_test_split
from sklearn import preprocessing

#one hot encoding on stars column 
le = preprocessing.LabelEncoder()
le.fit(review_business_sample['stars'])

list(le.classes_)

y = le.transform(review_business_sample['stars'])

In [75]:
#splitting the data in to training and test datasets
X_train, X_test,y_train,y_test = train_test_split(concat_matrix,y,test_size=0.25,random_state=1)

## Support Vector Machine

In [76]:
from sklearn.svm import SVC

clf = SVC()
clf.fit(X_train,y_train)
y_pred=clf.predict(X_test)

In [77]:
from sklearn import metrics
import matplotlib.pyplot as plt
print('Accuracy of SVM on test set: {:.2f}'.format(clf.score(X_test, y_test)))

Accuracy of SVM on test set: 0.44

# KNN

In [78]:
#knn classfrom sklearn.neighbors import KNeighborsClassifierifier
from sklearn.neighbors import KNeighborsClassifier

knn = KNeighborsClassifier(n_neighbors=1)
knn.fit(X_train, y_train)
y_pred = knn.predict(X_test)

In [79]:
from sklearn import metrics
print('Accuracy of nearest neighbor classifier on test set: {:.2f}'.format(knn.score(X_test, y_test)))

Accuracy of nearest neighbor classifier on test set: 0.27

## Logistic Regression Model

In [80]:
#logistic Regression

# import the class
from sklearn.linear_model import LogisticRegression

# instantiate the model (using the default parameters)
logreg = LogisticRegression()

# fit the model with data
logreg.fit(X_train, y_train)

/Users/saehuh/opt/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [81]:
from sklearn import metrics
y_pred = logreg.predict(X_test)
print('Accuracy of logistic regression classifier on test set: {:.2f}'.format(logreg.score(X_test, y_test)))

Accuracy of logistic regression classifier on test set: 0.42

## Min-Max Normalization for Multionominal Naive Bayes as it does not take negative values which happens in z-score normalization.

In [82]:
minmax=review_business_sample['review_count'].max()-review_business_sample['review_count'].min()
nmn_reviewcount=(review_business_sample['review_count']-review_business_sample['review_count'].min())/minmax
nmn_rc_nparray=nmn_reviewcount.values
nmn_rc_nparray.shape
import numpy as np
concat_matrix=np.column_stack((tfif_data,nmn_rc_nparray))
X=concat_matrix

## Multi-Nominal Naive Bayes Model

In [83]:
from sklearn.naive_bayes import MultinomialNB
clf=MultinomialNB()
X_train,X_test,y_train,y_test= train_test_split(X,y,test_size=0.3,random_state=0)

clf.fit(X_train,y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [84]:
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
import matplotlib.pyplot as plt

y_pred=clf.predict(X_test)
print('Accuracy of Multinomial on test set: {:.2f}'.format(clf.score(X_test, y_test)))

Accuracy of Multinomial on test set: 0.31

## Yelp Business Rating Prediction using Tensor Flow

In [85]:
import tensorflow as tf
print("Tensor Flow Version: {}".format(tf.__version__))

Tensor Flow Version: 2.3.1

In [86]:
import pandas as pd
import io
import requests
import numpy as np
import os
from sklearn.model_selection import train_test_split
from sklearn import preprocessing
from sklearn import metrics
from keras.models import Sequential
from keras.layers.core import Dense, Activation
from keras.callbacks import EarlyStopping
from keras.callbacks import ModelCheckpoint

x=concat_matrix

le = preprocessing.LabelEncoder()
le.fit(review_business_sample['stars'])

list(le.classes_)

y = le.transform(review_business_sample['stars'])

# Split into train/test
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.25, random_state=42)

# Tensorflow Regression

In [87]:
from keras.models import Sequential
from keras.layers.core import Dense, Activation
import pandas as pd
import io
import requests
import numpy as np
from sklearn import metrics

model = Sequential()

model.add(Dense(25, input_dim=x.shape[1], activation='relu')) # Hidden 1     #  why input_dim=x.shape[1]?  
model.add(Dense(10, activation='relu')) # Hidden 2
model.add(Dense(1)) # Output

model.compile(loss='mean_squared_error', optimizer='adam')

model.fit(x,y,verbose=2,epochs=100)    # Verbosity mode. 0 = silent, 1 = progress bar, 2 = one line per epoch.

pred = model.predict(x)
print("Shape: {}".format(pred.shape))
print(pred)

# Measure RMSE error.  RMSE is common for regression.
score = np.sqrt(metrics.mean_squared_error(pred,y))
print("Final score (RMSE): {}".format(score))

Epoch 1/100
655/655 - 1s - loss: 5.5751
Epoch 2/100
655/655 - 1s - loss: 1.1957
Epoch 3/100
655/655 - 1s - loss: 1.0471
Epoch 4/100
655/655 - 1s - loss: 0.9177
Epoch 5/100
655/655 - 1s - loss: 0.8265
Epoch 6/100
655/655 - 1s - loss: 0.7561
Epoch 7/100
655/655 - 1s - loss: 0.6931
Epoch 8/100
655/655 - 1s - loss: 0.6292
Epoch 9/100
655/655 - 1s - loss: 0.5702
Epoch 10/100
655/655 - 1s - loss: 0.5228
Epoch 11/100
655/655 - 1s - loss: 0.4840
Epoch 12/100
655/655 - 1s - loss: 0.4489
Epoch 13/100
655/655 - 1s - loss: 0.4219
Epoch 14/100
655/655 - 1s - loss: 0.3999
Epoch 15/100
655/655 - 1s - loss: 0.3770
Epoch 16/100
655/655 - 1s - loss: 0.3573
Epoch 17/100
655/655 - 1s - loss: 0.3401
Epoch 18/100
655/655 - 1s - loss: 0.3269
Epoch 19/100
655/655 - 1s - loss: 0.3103
Epoch 20/100
655/655 - 1s - loss: 0.2960
Epoch 21/100
655/655 - 1s - loss: 0.2855
Epoch 22/100
655/655 - 1s - loss: 0.2730
Epoch 23/100
655/655 - 1s - loss: 0.2639
Epoch 24/100
655/655 - 1s - loss: 0.2555
Epoch 25/100
655/655 - 1s - loss: 0.2486
Epoch 26/100
655/655 - 1s - loss: 0.2415
Epoch 27/100
655/655 - 1s - loss: 0.2363
Epoch 28/100
655/655 - 1s - loss: 0.2277
Epoch 29/100
655/655 - 1s - loss: 0.2218
Epoch 30/100
655/655 - 1s - loss: 0.2173
Epoch 31/100
655/655 - 1s - loss: 0.2126
Epoch 32/100
655/655 - 1s - loss: 0.2069
Epoch 33/100
655/655 - 1s - loss: 0.2048
Epoch 34/100
655/655 - 1s - loss: 0.1989
Epoch 35/100
655/655 - 1s - loss: 0.1973
Epoch 36/100
655/655 - 1s - loss: 0.1889
Epoch 37/100
655/655 - 1s - loss: 0.1888
Epoch 38/100
655/655 - 1s - loss: 0.1862
Epoch 39/100
655/655 - 1s - loss: 0.1803
Epoch 40/100
655/655 - 1s - loss: 0.1767
Epoch 41/100
655/655 - 1s - loss: 0.1739
Epoch 42/100
655/655 - 1s - loss: 0.1723
Epoch 43/100
655/655 - 1s - loss: 0.1687
Epoch 44/100
655/655 - 1s - loss: 0.1671
Epoch 45/100
655/655 - 1s - loss: 0.1638
Epoch 46/100
655/655 - 1s - loss: 0.1605
Epoch 47/100
655/655 - 1s - loss: 0.1584
Epoch 48/100
655/655 - 1s - loss: 0.1558
Epoch 49/100
655/655 - 1s - loss: 0.1529
Epoch 50/100
655/655 - 1s - loss: 0.1516
Epoch 51/100
655/655 - 1s - loss: 0.1511
Epoch 52/100
655/655 - 1s - loss: 0.1465
Epoch 53/100
655/655 - 1s - loss: 0.1445
Epoch 54/100
655/655 - 1s - loss: 0.1434
Epoch 55/100
655/655 - 1s - loss: 0.1399
Epoch 56/100
655/655 - 1s - loss: 0.1394
Epoch 57/100
655/655 - 1s - loss: 0.1363
Epoch 58/100
655/655 - 1s - loss: 0.1360
Epoch 59/100
655/655 - 1s - loss: 0.1319
Epoch 60/100
655/655 - 1s - loss: 0.1294
Epoch 61/100
655/655 - 1s - loss: 0.1275
Epoch 62/100
655/655 - 1s - loss: 0.1285
Epoch 63/100
655/655 - 1s - loss: 0.1252
Epoch 64/100
655/655 - 1s - loss: 0.1229
Epoch 65/100
655/655 - 1s - loss: 0.1211
Epoch 66/100
655/655 - 1s - loss: 0.1197
Epoch 67/100
655/655 - 1s - loss: 0.1188
Epoch 68/100
655/655 - 1s - loss: 0.1161
Epoch 69/100
655/655 - 1s - loss: 0.1154
Epoch 70/100
655/655 - 1s - loss: 0.1149
Epoch 71/100
655/655 - 1s - loss: 0.1131
Epoch 72/100
655/655 - 1s - loss: 0.1092
Epoch 73/100
655/655 - 1s - loss: 0.1103
Epoch 74/100
655/655 - 1s - loss: 0.1081
Epoch 75/100
655/655 - 1s - loss: 0.1055
Epoch 76/100
655/655 - 1s - loss: 0.1048
Epoch 77/100
655/655 - 1s - loss: 0.1032
Epoch 78/100
655/655 - 1s - loss: 0.1029
Epoch 79/100
655/655 - 1s - loss: 0.1012
Epoch 80/100
655/655 - 1s - loss: 0.0989
Epoch 81/100
655/655 - 1s - loss: 0.0981
Epoch 82/100
655/655 - 1s - loss: 0.0977
Epoch 83/100
655/655 - 1s - loss: 0.0966
Epoch 84/100
655/655 - 1s - loss: 0.0950
Epoch 85/100
655/655 - 1s - loss: 0.0944
Epoch 86/100
655/655 - 1s - loss: 0.0956
Epoch 87/100
655/655 - 1s - loss: 0.0915
Epoch 88/100
655/655 - 1s - loss: 0.0923
Epoch 89/100
655/655 - 1s - loss: 0.0904
Epoch 90/100
655/655 - 1s - loss: 0.0897
Epoch 91/100
655/655 - 1s - loss: 0.0880
Epoch 92/100
655/655 - 1s - loss: 0.0882
Epoch 93/100
655/655 - 1s - loss: 0.0876
Epoch 94/100
655/655 - 1s - loss: 0.0862
Epoch 95/100
655/655 - 1s - loss: 0.0843
Epoch 96/100
655/655 - 1s - loss: 0.0844
Epoch 97/100
655/655 - 1s - loss: 0.0842
Epoch 98/100
655/655 - 1s - loss: 0.0812
Epoch 99/100
655/655 - 1s - loss: 0.0816
Epoch 100/100
655/655 - 1s - loss: 0.0822
Shape: (20939, 1)
[[2.9826798]
 [5.8689322]
 [4.9114623]
 ...
 [3.948811 ]
 [3.637256 ]
 [5.027641 ]]
Final score (RMSE): 0.27097113633975245

In [88]:
# Define ModelCheckpoint outside the loop
checkpointer = ModelCheckpoint(filepath="best_weight1.hdf5", verbose=0, save_best_only=True) # save best model

for i in range(5):
    print(i)

    # Build network
    model = Sequential()
    model.add(Dense(100, input_dim=x.shape[1], activation='relu'))
    model.add(Dense(50, activation='relu'))
    model.add(Dense(50, activation='relu'))
    model.add(Dense(1)) # Output

    model.compile(loss='mean_squared_error', optimizer='rmsprop')

    monitor = EarlyStopping(monitor='val_loss', min_delta=1e-3, patience=5, verbose=1, mode='auto')

    model.fit(x_train,y_train,validation_data=(x_test,y_test),callbacks=[monitor,checkpointer],verbose=2,epochs=100)


print('Training finished...Loading the best model')  
print()
model.load_weights("best_weight1.hdf5") # load weights from best model

# Predict
pred = model.predict(x_test)

# Measure MSE error.  
score = metrics.mean_squared_error(pred,y_test)
print("Final score (MSE): {}".format(score))

# Measure RMSE error.  RMSE is common for regression.
score = np.sqrt(metrics.mean_squared_error(pred,y_test))
print("Final score (RMSE): {}".format(score))

0
Epoch 1/100
491/491 - 2s - loss: 2.0597 - val_loss: 1.0861
Epoch 2/100
491/491 - 1s - loss: 1.0311 - val_loss: 1.0095
Epoch 3/100
491/491 - 1s - loss: 0.8781 - val_loss: 0.9312
Epoch 4/100
491/491 - 1s - loss: 0.7596 - val_loss: 0.9362
Epoch 5/100
491/491 - 1s - loss: 0.6561 - val_loss: 0.9759
Epoch 6/100
491/491 - 1s - loss: 0.5541 - val_loss: 1.1212
Epoch 7/100
491/491 - 1s - loss: 0.4609 - val_loss: 1.0418
Epoch 8/100
491/491 - 1s - loss: 0.3810 - val_loss: 1.0475
Epoch 00008: early stopping
1
Epoch 1/100
491/491 - 2s - loss: 2.2138 - val_loss: 1.2273
Epoch 2/100
491/491 - 1s - loss: 1.0501 - val_loss: 1.0000
Epoch 3/100
491/491 - 1s - loss: 0.8920 - val_loss: 0.9503
Epoch 4/100
491/491 - 1s - loss: 0.7881 - val_loss: 0.9788
Epoch 5/100
491/491 - 1s - loss: 0.6901 - val_loss: 0.9435
Epoch 6/100
491/491 - 1s - loss: 0.5946 - val_loss: 1.0847
Epoch 7/100
491/491 - 1s - loss: 0.5026 - val_loss: 1.0718
Epoch 8/100
491/491 - 1s - loss: 0.4218 - val_loss: 1.0234
Epoch 9/100
491/491 - 1s - loss: 0.3591 - val_loss: 1.0853
Epoch 10/100
491/491 - 1s - loss: 0.3056 - val_loss: 1.0853
Epoch 00010: early stopping
2
Epoch 1/100
491/491 - 1s - loss: 2.0938 - val_loss: 1.0964
Epoch 2/100
491/491 - 1s - loss: 1.0286 - val_loss: 1.0508
Epoch 3/100
491/491 - 1s - loss: 0.8801 - val_loss: 1.0483
Epoch 4/100
491/491 - 1s - loss: 0.7626 - val_loss: 0.9296
Epoch 5/100
491/491 - 1s - loss: 0.6566 - val_loss: 1.0470
Epoch 6/100
491/491 - 1s - loss: 0.5470 - val_loss: 0.9914
Epoch 7/100
491/491 - 1s - loss: 0.4612 - val_loss: 1.2059
Epoch 8/100
491/491 - 1s - loss: 0.3828 - val_loss: 1.0330
Epoch 9/100
491/491 - 1s - loss: 0.3246 - val_loss: 1.1506
Epoch 00009: early stopping
3
Epoch 1/100
491/491 - 3s - loss: 2.2064 - val_loss: 1.3055
Epoch 2/100
491/491 - 1s - loss: 1.0492 - val_loss: 1.0255
Epoch 3/100
491/491 - 1s - loss: 0.8973 - val_loss: 0.9868
Epoch 4/100
491/491 - 1s - loss: 0.7812 - val_loss: 0.9771
Epoch 5/100
491/491 - 1s - loss: 0.6802 - val_loss: 0.9806
Epoch 6/100
491/491 - 1s - loss: 0.5761 - val_loss: 0.9780
Epoch 7/100
491/491 - 1s - loss: 0.4902 - val_loss: 1.0587
Epoch 8/100
491/491 - 1s - loss: 0.4076 - val_loss: 1.0547
Epoch 9/100
491/491 - 1s - loss: 0.3450 - val_loss: 1.0713
Epoch 00009: early stopping
4
Epoch 1/100
491/491 - 1s - loss: 2.2901 - val_loss: 1.1254
Epoch 2/100
491/491 - 1s - loss: 1.0578 - val_loss: 1.1203
Epoch 3/100
491/491 - 1s - loss: 0.9042 - val_loss: 0.9574
Epoch 4/100
491/491 - 1s - loss: 0.7856 - val_loss: 0.9172
Epoch 5/100
491/491 - 1s - loss: 0.6766 - val_loss: 0.9982
Epoch 6/100
491/491 - 1s - loss: 0.5807 - val_loss: 0.9839
Epoch 7/100
491/491 - 1s - loss: 0.4925 - val_loss: 1.0065
Epoch 8/100
491/491 - 1s - loss: 0.4201 - val_loss: 1.0297
Epoch 9/100
491/491 - 1s - loss: 0.3543 - val_loss: 1.0550
Epoch 00009: early stopping
Training finished...Loading the best model

Final score (MSE): 0.9171952647514374
Final score (RMSE): 0.9577031193180052

## Tensor Flow Classification

In [89]:
import pandas as pd
import io , os
import requests
import numpy as np
from sklearn import metrics
from keras.models import Sequential
from keras.layers.core import Dense, Activation
from keras.callbacks import EarlyStopping
from sklearn import preprocessing

le1 = preprocessing.LabelEncoder()
le1.fit(review_business_sample['stars'])

list(le1.classes_)
y1=le1.transform(review_business_sample['stars'])

In [90]:
# Encode text values to dummy variables(i.e. [1,0,0],[0,1,0],[0,0,1] for red,green,blue)
def encode_text_dummy(df, name):
    dummies = pd.get_dummies(df[name])
    for x in dummies.columns:
        dummy_name = "{}-{}".format(name, x)
        df[dummy_name] = dummies[x]
    df.drop(name, axis=1, inplace=True)


y1= encode_text_dummy(review_business_sample,"stars")   #one-hot coding
y1= review_business_sample
print(y1.columns)

Index(['business_id', 'all_reviews', 'Unnamed: 0', '_id', 'name', 'address',
       'city', 'state', 'postal_code', 'latitude', 'longitude', 'review_count',
       'is_open', 'attributes', 'categories', 'hours', 'stars-1.0',
       'stars-1.5', 'stars-2.0', 'stars-2.5', 'stars-3.0', 'stars-3.5',
       'stars-4.0', 'stars-4.5', 'stars-5.0'],
      dtype='object')

In [91]:
y1=y1[['stars-1.0', 'stars-1.5','stars-2.0', 'stars-2.5', 'stars-3.0', 'stars-3.5', 'stars-4.0','stars-4.5', 'stars-5.0']]
y1=y1.values
type(y1)
y1

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 1, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=uint8)

In [92]:
# Split into train/test
x_train, x_test, y_train, y_test = train_test_split(x, y1, test_size=0.25, random_state=42)


# Define ModelCheckpoint outside the loop
checkpointer = ModelCheckpoint(filepath="best_weights2.hdf5", verbose=0, save_best_only=True) # save best model

for i in range(5):
    print(i)

    # Build network
    model = Sequential()
    model.add(Dense(20, input_dim=x.shape[1], activation='relu'))
    model.add(Dense(10, activation='relu'))
    model.add(Dense(10, activation='relu'))
    model.add(Dense(y1.shape[1], activation='softmax'))
    model.compile(loss='categorical_crossentropy', optimizer='adam')

    monitor = EarlyStopping(monitor='val_loss', min_delta=1e-3, patience=5, verbose=1, mode='auto')

    model.fit(x_train,y_train,validation_data=(x_test,y_test),callbacks=[monitor,checkpointer],verbose=2,epochs=100)


print('Training finished...Loading the best model')  
print()
model.load_weights("best_weights2.hdf5",) # load weights from best model

# Measure accuracy
pred = model.predict(x_test)
pred = np.argmax(pred,axis=1)

y_true = np.argmax(y_test,axis=1)

score = metrics.accuracy_score(y_true, pred)
print("Final accuracy: {}".format(score))

0
Epoch 1/100
491/491 - 1s - loss: 1.7299 - val_loss: 1.3779
Epoch 2/100
491/491 - 1s - loss: 1.2925 - val_loss: 1.2651
Epoch 3/100
491/491 - 1s - loss: 1.2154 - val_loss: 1.2469
Epoch 4/100
491/491 - 1s - loss: 1.1807 - val_loss: 1.2316
Epoch 5/100
491/491 - 1s - loss: 1.1531 - val_loss: 1.2494
Epoch 6/100
491/491 - 1s - loss: 1.1291 - val_loss: 1.2319
Epoch 7/100
491/491 - 1s - loss: 1.1072 - val_loss: 1.2328
Epoch 8/100
491/491 - 1s - loss: 1.0859 - val_loss: 1.2564
Epoch 9/100
491/491 - 1s - loss: 1.0661 - val_loss: 1.2506
Epoch 00009: early stopping
1
Epoch 1/100
491/491 - 2s - loss: 1.7370 - val_loss: 1.3211
Epoch 2/100
491/491 - 1s - loss: 1.2623 - val_loss: 1.2456
Epoch 3/100
491/491 - 1s - loss: 1.1969 - val_loss: 1.2252
Epoch 4/100
491/491 - 1s - loss: 1.1631 - val_loss: 1.2406
Epoch 5/100
491/491 - 1s - loss: 1.1389 - val_loss: 1.2340
Epoch 6/100
491/491 - 1s - loss: 1.1187 - val_loss: 1.2348
Epoch 7/100
491/491 - 1s - loss: 1.0987 - val_loss: 1.2347
Epoch 8/100
491/491 - 1s - loss: 1.0826 - val_loss: 1.2360
Epoch 00008: early stopping
2
Epoch 1/100
491/491 - 2s - loss: 1.7445 - val_loss: 1.3465
Epoch 2/100
491/491 - 1s - loss: 1.2735 - val_loss: 1.2478
Epoch 3/100
491/491 - 1s - loss: 1.2058 - val_loss: 1.2277
Epoch 4/100
491/491 - 1s - loss: 1.1717 - val_loss: 1.2295
Epoch 5/100
491/491 - 1s - loss: 1.1441 - val_loss: 1.2208
Epoch 6/100
491/491 - 1s - loss: 1.1241 - val_loss: 1.2439
Epoch 7/100
491/491 - 1s - loss: 1.1037 - val_loss: 1.2177
Epoch 8/100
491/491 - 1s - loss: 1.0854 - val_loss: 1.2259
Epoch 9/100
491/491 - 1s - loss: 1.0717 - val_loss: 1.2359
Epoch 10/100
491/491 - 1s - loss: 1.0550 - val_loss: 1.2417
Epoch 11/100
491/491 - 1s - loss: 1.0379 - val_loss: 1.2401
Epoch 12/100
491/491 - 1s - loss: 1.0204 - val_loss: 1.2527
Epoch 00012: early stopping
3
Epoch 1/100
491/491 - 2s - loss: 1.7351 - val_loss: 1.3205
Epoch 2/100
491/491 - 1s - loss: 1.2512 - val_loss: 1.2469
Epoch 3/100
491/491 - 1s - loss: 1.1908 - val_loss: 1.2364
Epoch 4/100
491/491 - 1s - loss: 1.1639 - val_loss: 1.2292
Epoch 5/100
491/491 - 1s - loss: 1.1449 - val_loss: 1.2285
Epoch 6/100
491/491 - 1s - loss: 1.1271 - val_loss: 1.2295
Epoch 7/100
491/491 - 1s - loss: 1.1157 - val_loss: 1.2291
Epoch 8/100
491/491 - 1s - loss: 1.1006 - val_loss: 1.2365
Epoch 9/100
491/491 - 1s - loss: 1.0891 - val_loss: 1.2406
Epoch 00009: early stopping
4
Epoch 1/100
491/491 - 1s - loss: 1.6478 - val_loss: 1.3100
Epoch 2/100
491/491 - 1s - loss: 1.2583 - val_loss: 1.2416
Epoch 3/100
491/491 - 1s - loss: 1.2044 - val_loss: 1.2329
Epoch 4/100
491/491 - 1s - loss: 1.1733 - val_loss: 1.2258
Epoch 5/100
491/491 - 1s - loss: 1.1478 - val_loss: 1.2292
Epoch 6/100
491/491 - 1s - loss: 1.1278 - val_loss: 1.2313
Epoch 7/100
491/491 - 1s - loss: 1.1038 - val_loss: 1.2339
Epoch 8/100
491/491 - 1s - loss: 1.0835 - val_loss: 1.2392
Epoch 9/100
491/491 - 1s - loss: 1.0626 - val_loss: 1.2590
Epoch 00009: early stopping
Training finished...Loading the best model

Final accuracy: 0.505062082139446